$menu-background: #FFD500;
$font-normal: 'Lato', sans-serif;
$color-basic: #1C1733;
$background-main-color: #ffffff;
$border-first: #FFD500;
$border-second:#2DBAEE;
$border-third:#F84CAC;




/*......... BODY ..........*/


body{
    margin: 0;
    font-family: $font-normal;
    background-color: $background-main-color;
}


.bloomreach-container {
    display: block;
    text-align: left;
    background-color: $menu-background;
    height: 80px; 
}

.bloomreach-logo {
    margin-left: 18%;
    margin-top: 23px;
}

/*............. NAVIGATION-PRPERTIES...........*/

.navigation-container{
    display:flex;
    justify-content: flex-start;
    flex-direction: row;
    border-bottom: 1px solid #1c173327;

        .navigation {
            margin-top: 18px;
            margin-left: 18%;   
            margin-bottom: 7px; 

            a {
                text-decoration: none;
                margin-left: 10px;
                font-size: 12px;
                color:$color-basic;
                font-weight: 400;
                padding: 9px 12px;
                background-color: $background-main-color;

                &:hover {
                    font-weight: bold;
                    border-radius: 5px;
                    padding: 9px 12px 10px 12px;
                    border-top: 1px solid #1c173327;
                    border-left: 1px solid #1c173327;
                    border-right: 1px solid #1c173327;
                    border-bottom: 1px solid $background-main-color;
                }
            }
        }
}

/*............... CARDS...............*/

#card-container{
    margin-top: 55px;
    max-width:1100px;
    margin-left:auto;
    margin-right: auto;
    width: 100%;  
}


.card {
    max-width: 248px;
    height: 217px;   
    justify-content: center;
    align-items: center;
    text-align: center;  
    display: flex;
    margin-top: 20px;  
     
    
    .team {
        width: 36px;
        margin-bottom: 15px;
        
    }   
}

#first-border {
    border-color: $border-first;
    border-radius: 10px;
     
    
    &:hover {
        box-shadow: 0px 4px 8px rgba(102, 103, 128, 0.25);
        cursor: pointer;
    } 
}

#second-border {
    border-color: $border-second;
    border-radius: 10px;
    

    &:hover {
        box-shadow: 0px 4px 8px rgba(102, 103, 128, 0.25);
        cursor: pointer;
    }
}

#third-border {
    border-color: $border-third;
    border-radius: 10px;

    
    &:hover {
        box-shadow: 0px 4px 8px rgba(102, 103, 128, 0.25);
        cursor: pointer;
    }
}

/*----------------FOOTER------------------*/

.footer-title {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin-top: 77px;
    padding-bottom: 5px;   
    width: 60%;
    margin-right: auto;
    margin-left: auto;


}

.horizontal {
    width: 60%;
    border-bottom: 1px solid #1c173327;

}

  

    .footer-action{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

         a {
             margin-right: 50px;
             font-weight: 700;
             color:#2DBAEE;
         }
        
    }

   

.first-step {
    display: flex;
    flex-direction: column;
    width: 57%;
    margin-right: auto;
    margin-left: auto;

    .step-title {
       margin-left: 15px;
    }

    .dropdown {
        border: 1px solid rgba(0, 0, 0, 0.321);
        border-radius: 5px;
        margin-left: 10px;
       
    }
}


.session-one{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.session-two{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left:10.4%;

    .and {
        color: #666880;
        font-weight: 700;
        margin-top: 18px;
        font-size: 12px;
        margin-left: 13px;
    }
}

label {
    margin-top: 6px;
    margin-left: 15px;
    border: 1px solid rgba(0, 0, 0, 0.638);
    background-color: #1c17330e;
    border-radius: 5px 5px 5px 5px;
    padding: 0px 0px 0px 10px;
    color: #1c1733;
} 



input {
    
  height: 35px;
  border-radius: 0px 5px 5px 0px;
  border-top: none;
  border-right: none;
  border-bottom: none;

}

.refine {
    color: #2DBAEE;
    margin-left: 15.5%;
    font-weight: 700;
    margin-top: 15px;
}



.button-container {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}

.add {
   width:57%;
   height: 32px;
   color: #2DBAEE;
   font-weight: 700;
   border: none;
   background-color: #2dbaee35;
   border-radius: 10px;
   margin-top: 80px;
   

   &:hover {
    box-shadow: 0px 4px 8px rgba(102, 103, 128, 0.25);
   }
}


/*----------MEDIA --------- QUERY ----------*/

$large: 1050px;
@media screen and (max-width: $large) {
        .first-step {
            width: 80%;     
    }
        
        .add {
            width:80%;
        }

        .horizontal {
            width: 80%;
            border-bottom: 1px solid #1c173327;

        }

        .footer-title {
            width: 80%;

        h3 {
            font-size: 1.2em;
        }

        a {
            font-size: 0.8em;
            text-align: center;
        }

 }
}



$medium: 750px;
@media screen and (max-width: $medium) {

    .session-one{
        flex-direction: column;   
    }
    
    .session-two{
        flex-direction: column;
        margin-left:0.4%;    
    }

    .step-title {
        margin-top: 10px;
        margin-left: 0px;
        text-align: center;
        margin-bottom: 20px;
     }

     .refine {
        color: #2DBAEE;
        margin-left: 0%;
        text-align: center;
        font-weight: 700;
        margin-top: 15px;
    }

}
      




$small: 576px;
@media screen and (max-width: $small) {

    .navigation-container{
            .navigation {
                margin-top: 18px;
                margin-left: 0%;   
                margin-bottom: 7px; 

                a {         
                    margin-left: 7px;    
                }
            }
        }
  

    .card {
        margin-left: 22%;
   
    }
}
      

$extra-small: 380px;
@media screen and (max-width: $extra-small) {
    

    .card {
        margin-left: 12%;
   
    }
}

$iphone5s: 330px;
@media screen and (max-width: $iphone5s) {
    

    .card {
        margin-left: 9%;
   
    }
}