/*......... BODY ..........*/
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #ffffff;
}

.bloomreach-container {
  display: block;
  text-align: left;
  background-color: #FFD500;
  height: 80px;
}

.bloomreach-logo {
  margin-left: 18%;
  margin-top: 23px;
}

/*............. NAVIGATION-PRPERTIES...........*/
.navigation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 1px solid #1c173327;
}

.navigation-container .navigation {
  margin-top: 18px;
  margin-left: 18%;
  margin-bottom: 7px;
}

.navigation-container .navigation a {
  text-decoration: none;
  margin-left: 10px;
  font-size: 12px;
  color: #1C1733;
  font-weight: 400;
  padding: 9px 12px;
  background-color: #ffffff;
}

.navigation-container .navigation a:hover {
  font-weight: bold;
  border-radius: 5px;
  padding: 9px 12px 10px 12px;
  border-top: 1px solid #1c173327;
  border-left: 1px solid #1c173327;
  border-right: 1px solid #1c173327;
  border-bottom: 1px solid #ffffff;
}

/*............... CARDS...............*/
#card-container {
  margin-top: 55px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.card {
  max-width: 248px;
  height: 217px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.card .team {
  width: 36px;
  margin-bottom: 15px;
}

#first-border {
  border-color: #FFD500;
  border-radius: 10px;
}

#first-border:hover {
  -webkit-box-shadow: 0px 4px 8px rgba(102, 103, 128, 0.25);
          box-shadow: 0px 4px 8px rgba(102, 103, 128, 0.25);
  cursor: pointer;
}

#second-border {
  border-color: #2DBAEE;
  border-radius: 10px;
}

#second-border:hover {
  -webkit-box-shadow: 0px 4px 8px rgba(102, 103, 128, 0.25);
          box-shadow: 0px 4px 8px rgba(102, 103, 128, 0.25);
  cursor: pointer;
}

#third-border {
  border-color: #F84CAC;
  border-radius: 10px;
}

#third-border:hover {
  -webkit-box-shadow: 0px 4px 8px rgba(102, 103, 128, 0.25);
          box-shadow: 0px 4px 8px rgba(102, 103, 128, 0.25);
  cursor: pointer;
}

/*----------------FOOTER------------------*/
.footer-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 77px;
  padding-bottom: 5px;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.horizontal {
  width: 60%;
  border-bottom: 1px solid #1c173327;
}

.footer-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-action a {
  margin-right: 50px;
  font-weight: 700;
  color: #2DBAEE;
}

.first-step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 57%;
  margin-right: auto;
  margin-left: auto;
}

.first-step .step-title {
  margin-left: 15px;
}

.first-step .dropdown {
  border: 1px solid rgba(0, 0, 0, 0.321);
  border-radius: 5px;
  margin-left: 10px;
}

.session-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.session-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10.4%;
}

.session-two .and {
  color: #666880;
  font-weight: 700;
  margin-top: 18px;
  font-size: 12px;
  margin-left: 13px;
}

label {
  margin-top: 6px;
  margin-left: 15px;
  border: 1px solid rgba(0, 0, 0, 0.638);
  background-color: #1c17330e;
  border-radius: 5px 5px 5px 5px;
  padding: 0px 0px 0px 10px;
  color: #1c1733;
}

input {
  height: 35px;
  border-radius: 0px 5px 5px 0px;
  border-top: none;
  border-right: none;
  border-bottom: none;
}

.refine {
  color: #2DBAEE;
  margin-left: 15.5%;
  font-weight: 700;
  margin-top: 15px;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 80px;
}

.add {
  width: 57%;
  height: 32px;
  color: #2DBAEE;
  font-weight: 700;
  border: none;
  background-color: #2dbaee35;
  border-radius: 10px;
  margin-top: 80px;
}

.add:hover {
  -webkit-box-shadow: 0px 4px 8px rgba(102, 103, 128, 0.25);
          box-shadow: 0px 4px 8px rgba(102, 103, 128, 0.25);
}

/*----------MEDIA --------- QUERY ----------*/
@media screen and (max-width: 1050px) {
  .first-step {
    width: 80%;
  }
  .add {
    width: 80%;
  }
  .horizontal {
    width: 80%;
    border-bottom: 1px solid #1c173327;
  }
  .footer-title {
    width: 80%;
  }
  .footer-title h3 {
    font-size: 1.2em;
  }
  .footer-title a {
    font-size: 0.8em;
    text-align: center;
  }
}

@media screen and (max-width: 750px) {
  .session-one {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .session-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0.4%;
  }
  .step-title {
    margin-top: 10px;
    margin-left: 0px;
    text-align: center;
    margin-bottom: 20px;
  }
  .refine {
    color: #2DBAEE;
    margin-left: 0%;
    text-align: center;
    font-weight: 700;
    margin-top: 15px;
  }
}

@media screen and (max-width: 576px) {
  .navigation-container .navigation {
    margin-top: 18px;
    margin-left: 0%;
    margin-bottom: 7px;
  }
  .navigation-container .navigation a {
    margin-left: 7px;
  }
  .card {
    margin-left: 17%;
  }
}

@media screen and (max-width: 380px) {
  .card {
    margin-left: 12%;
  }
}

@media screen and (max-width: 330px) {
  .card {
    margin-left: 9%;
  }
}
/*# sourceMappingURL=style.css.map */